div.PA
{
    text-align: center;
    margin: 0 0 10px 10px;
}
div.CAT1
{
    float: left;
   
}
div.CAT2
{
    float: right;
 
}

.img1

{
    float: left;
    width: 10cm;
    height: 10cm;
    
}

.img2

{
    float: right;
    width: 10cm;
    height: 10cm;
    
}

.titre1
{
    margin-top: 50px;
    margin-right: 100px;
}

.titre2
{
    margin-top: 200px;
    margin-left: 100px;
}
.index 
{
    background-image: none;
    
}

.h1class
{
    text-decoration: none;
    color: black;
}

.prod3

{
    float: right;
    width: 10cm;
    height: 10cm;
    
}
.prod4

{
    text-align: right;
    
}

.imgprod3
{
    width: 10cm;
    height: 10cm;
    margin-left: 550px;
}
.samsung
{
    margin-top: 100px;
    margin-left: 500px;
}
.prix
{
    margin-left: 650px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.prod4txt
{
    text-align: right;
    
}

.imgprod4
{
    width: 10cm;
    height: 10cm;
    float: right;
}

.img3
{
    width: 10cm;
    height: 10cm;
    float: left;
}
.discr
{
    margin-left: 250px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.Title0{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-left: 0%;
}
.Home {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0%;
    font-weight: 500;


}


.Prod1 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1);
    padding-left: 45%;
    font-weight: 2000;
}
.Prod1img {
    width: 25%;
    height: auto;
    margin-left: 500px;

}
.Prod1txt {
    font-family:"SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif ;
    margin-left: 32%;
    padding: 7px;
    font-weight: 300;
    }
.Prod1prix {
font-family:"SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif ;
margin-left: 44%;


}

.prod2 {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1);
    padding-left: 45%;
    font-weight: 2000;
}
.imgprod2 {
    width: 25%;
    height: auto;
    margin-left: 500px;
}

.Prod2txt {
    font-family:"SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif ;
    margin-left: 36%;
    padding: 7px;
    font-weight: 300;
}
.Prod2prix {
    font-family:"SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif ;
    margin-left: 44%;
}